ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
  font-size: 18px;
}

nav {
  background-color: #e3edf7;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  padding-right: 70px;
}
.fa-phone {
    
  transition: 0.3s ease-in-out;
}

.fa-phone:hover {
  color: #ce2952;
  cursor: pointer;
}

/* navbar */
.navbar {
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  min-height: 40px;
  max-width: 1440px;
  margin: 0 auto;
  font-weight: bold;
}

/* logo  */
.logo img {
  width: auto;
  height: 60px;
}

/* ul  */
.navMenu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;

}
.menu-items {
  margin-left: auto;
}

.menu-items li button {
  background-color: #ce2952;
  color: white;
  border: none;
  padding: 8px 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  transition: 0.3s ease-in-out;
  font-weight: bold;
  margin-left: 30px;
}

.menu-items li button:hover {
  background-color: #e2ecf6;
  color: #ce2952;
  border: none;
  padding: 8px 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  transition: 0.3s ease-in-out;
  font-weight: bold;
}

.button-content {
  display: flex;
  align-items: center;
  gap: 10px;
}

.navLink {
  padding: 8px 10px;
  margin: -8px -10px;
  transition: 0.3s ease-in-out;
}

.navLink:hover {
  background-color: #ce2952;
  padding: 8px 10px;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.active {
  background-color: #ce2952;
  padding: 8px 10px;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

/* media queries */

@media screen and (max-width: 780px) {
  /* hamburger */
  .hamburger {
    display: block;
    cursor: pointer;
  }

  .bar {
    background-color: #120f0b;
    width: 20px;
    height: 3px;
    display: block;
    margin: 5px;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
  }

  /* adding active class to the bars  */
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  /* navMenu */

  .navMenu {
    position: absolute;
    flex-direction: column;
    gap: 0;
    top: 70px;
    left: -100%;
    text-align: start;
    width: 100%;
    transition: 0.7s ease-in-out;
    background-color: #e3edf7;
    padding: 15px;
  }

  .navMenu.active {
    left: 0;
  }

  .navMenu li {
    margin: 10px 0;
  }
}
