@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
color:black;
}

body {
  color:black;
}
section {
  padding: 20px 0;
}

p {
  line-height: 1.5;
}

h1,h2 {
  line-height: 1.5;
}
.title {
  
  text-align: center;
  margin-bottom: 20px;
}
.title p{
font-weight: bold;
color:#ce2952;
}